body{
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

img{
  float: right;
}

.sidebar{
  width: 80%;
  float: right;
}

.jumbotron{
  background-color: rgb(119, 153, 140); 
}

.best{
  color: blue;
}

.worst{
  color: #ff5e00;
}


h2 {
  text-align: center;
  background-color:  rgb(119, 153, 140); 
  margin-bottom: 25px;
  }

.intro{
  margin: 12px;
  padding: 4px;
}